@import url(https://fonts.googleapis.com/css?family=Delius);

#wpmm a, #wpmm abbr, #wpmm area, #wpmm article, #wpmm aside, #wpmm audio, #wpmm b, #wpmm bdo, #wpmm blockquote, #wpmm body, #wpmm button, #wpmm
canvas, #wpmm caption, #wpmm cite, #wpmm code, #wpmm col, #wpmm colgroup, #wpmm command, #wpmm datalist, #wpmm dd, #wpmm del, #wpmm
details, #wpmm dialog, #wpmm dfn, #wpmm div, #wpmm dl, #wpmm dt, #wpmm em, #wpmm embed, #wpmm fieldset, #wpmm figure, #wpmm form, #wpmm
h1, #wpmm h2, #wpmm h3, #wpmm h4, #wpmm h5, #wpmm h6, #wpmm head, #wpmm header, #wpmm hgroup, #wpmm hr, #wpmm html, #wpmm i, #wpmm iframe, #wpmm img, #wpmm
input, #wpmm ins, #wpmm keygen, #wpmm kbd, #wpmm label, #wpmm legend, #wpmm li, #wpmm map, #wpmm mark, #wpmm menu, #wpmm meter, #wpmm nav, #wpmm
noscript, #wpmm object, #wpmm ol, #wpmm optgroup, #wpmm option, #wpmm output, #wpmm p, #wpmm param, #wpmm pre, #wpmm progress, #wpmm
q, #wpmm rp, #wpmm rt, #wpmm ruby, #wpmm samp, #wpmm section, #wpmm select, #wpmm small, #wpmm span, #wpmm strong, #wpmm sub, #wpmm sup, #wpmm
table, #wpmm tbody, #wpmm td, #wpmm textarea, #wpmm tfoot, #wpmm th, #wpmm thead, #wpmm time, #wpmm tr, #wpmm ul, #wpmm var, #wpmm video {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: none;
	padding: 0;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;
}
textarea {
    font-family: 'Delius', cursive;
}
.entry-content {
    width: auto !important;
}
.wpmm-powered{
    display: block;
    width: 167px;
    height: 20px;
    margin: 10px;
    background-image: url('../images/poweredbywpmmm.png');
}
#wpmm .wpmm-circ-full{
     width:14px;
     border-radius: 14px;
     -moz-border-radius: 14px;
     -webkit-border-radius: 14px;
     margin-left: 2px;
     margin-right: 2px;
}
#wpmm .wpmm-circ-right{
     width:7px;
     border-radius: 0 14px 14px 0;
     -moz-border-radius: 0 14px 14px 0;
     -webkit-border-radius:  0 14px 14px 0;
}
#wpmm .wpmm-circ-left{
     width:7px;
     border-radius: 14px 0 0 14px;
     -moz-border-radius: 14px 0 0 14px;
     -webkit-border-radius: 14px 0 0 14px;
}
#wpmm .wpmm-pizza-control{

}
#wpmm .wpmm-circ-full, #wpmm .wpmm-circ-right, #wpmm .wpmm-circ-left{
    display: inline-block;
    height:14px;
    background:#FFF;
    box-shadow: rgba(50,50,50,0.5) 0 0 5px;
    cursor: pointer;
}
#wpmm .wpmm-circ-full:hover, #wpmm .wpmm-circ-right:hover, #wpmm .wpmm-circ-left:hover{
    background:#7fbf4d;
}
#wpmm .wpmm-circ-full.active1,#wpmm  .wpmm-circ-right.active1,#wpmm .wpmm-circ-left.active1{
    background:#7fbf4d;
}
#wpmm .wpmm-social{
    margin-top: 7px;
}
#wpmm {
    position: relative;
    font-family: 'Delius', cursive;
    margin: 0 auto;
}
#wpmm a {
    text-decoration: none;
    color: white;
}
#wpmm .wpmm-table-item{
    width: 100%;
    min-height: 50px;
}
#wpmm .wpmm-table-item a img{
    height: 45px;
    width: 45px;
    box-sizing: border-box;
}
#wpmm .wpmm-table-item table{
    height: 50px;
}
#wpmm .wpmm-table-item .wpmm-item-header{
    width: 100%;
    font-size: 20px;
    line-height: 25px !important;
}
#wpmm .wpmm-table-item .wpmm-item-buy{
    margin: 0;
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
}
#wpmm .wpmm-table-item .wpmm-item-description{
    width: 100%;
    height: 50px;
    padding: 10px;
}
#wpmm .wpmm-table-item img{
    margin: 0px;
    margin-left: 10px;
}
#wpmm .wpmm-table-item td{
    vertical-align: middle;
}
#wpmm ul,
#wpmm li {
    list-style:none;
    margin: 0;
    padding: 0;
}
#wpmm table {
    border-collapse: collapse;
    border-spacing: 0;
}
#wpmm input,
#wpmm select {
    vertical-align:middle;
}
#wpmm ul > li::before {
    content: none;
}
#wpmm .center {
    text-align: center !important;
}
#wpmm #wpmm-item-details-attributes li:before{
    content: none;
}
#wpmm #wpmm-item-details-groups li:before {
   list-style: none;
   content: none;
}
#wpmm #wpmm-form {
    position: absolute;
    top: 0;
    width: 250px;
}
#wpmm #wpmm-form.inside-left {
    position: absolute;
    left: 0;
    margin: 10px;
    padding-bottom: 10px;
}
#wpmm #wpmm-form.inside-right {
    right: 0;
    margin: 10px;
    padding-bottom: 10px;
}
#wpmm #wpmm-form.outside-left {
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 100000;
}
#wpmm #wpmm-form.outside-right {
    position: fixed;
    right: 0;
    height: 100%;
    z-index: 100000;
}
#wpmm #wpmm-form label[for=wpmm-address-dropdown] {
    padding-left: 20px;
}
#wpmm #wpmm-menus.form-inside-left {
    margin-left: 270px;
}
#wpmm #wpmm-menus.form-inside-right {
    margin-right: 270px;
}
#wpmm #wpmm-menus.form-outside {
    margin: 0 5px;
}
#wpmm #wpmm-menu-list, #wpmm-menu-list-vert{
    list-style: none !important;
    margin: 0 !important;
}
#wpmm #wpmm-menu-list li,#wpmm-menu-list-vert li{
    display: inline-block;
    margin: 0 !important;
    list-style: none !important;
}
#wpmm #wpmm-menu-list li a, #wpmm-menu-list-vert li a{
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
}
#wpmm #wpmm-slider{
    position: relative;
}
#wpmm #wpmm-slide-container{
    overflow: hidden;
}
#wpmm .wpmm-tab-content, .wpmm-cat-content  {
    display: none;
    margin-top: 10px;
    min-height: 200px;
}
#wpmm .wpmm-tab-content.visible, .wpmm-cat-content.visible{
    display: block;
}
/* DATEPICKER */
.ui-timepicker-div * { font-size: 12px !important; }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 20px; margin-bottom: -20px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
#wpmm .purchase-wrap {
    position: relative;
}
#wpmm #purchase-btn {
    width: 270px;
    height: 34px;
    display: block;
    background-color: #7FBF4D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7FBF4D), color-stop(100%, #63A62F));
    background-image: -webkit-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -moz-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -ms-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -o-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: linear-gradient(top, #7FBF4D, #63A62F);
    text-decoration: none;
    border: 1px solid #63A62F;
    border-bottom: 1px solid #5B992B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 0 #96CA6D;
    box-shadow: inset 0 1px 0 0 #96CA6D;
    color: white;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 1px #284d12;
    margin: 4px auto 0;
    line-height: 34px;
    font-size: 21px;
}
#wpmm #purchase-btn:hover {
    background-color: #76B347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76B347), color-stop(100%, #5E9E2E));
    background-image: -webkit-linear-gradient(top, #76B347, #5E9E2E);
    background-image: -moz-linear-gradient(top, #76B347, #5E9E2E);
    background-image: -ms-linear-gradient(top, #76B347, #5E9E2E);
    background-image: -o-linear-gradient(top, #76B347, #5E9E2E);
    background-image: linear-gradient(top, #76B347, #5E9E2E);
    -webkit-box-shadow: inset 0 1px 0 0 #8DBF67;
    box-shadow: inset 0 1px 0 0 #8DBF67;
    cursor: pointer;
    text-decoration: none;
}
#wpmm .purchase-image {
    max-width: 100% !important;
    border: 5px solid #E6E6E6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    width: 100%;
    box-shadow: #999 0 0 7px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#wpmm .purchase-caption {
    position: absolute;
    bottom: 15%;
    overflow: hidden;
    height: 52px;
    line-height: 44px !important;
    width: 100%;
    font-size: 30px;
    box-shadow: inset rgba(255,255,255,0.5) 0 0 30px;
    text-align: center;
    background-color: rgba(120,120,120,0.7);
    border-top: 4px;
    border-bottom: 4px;
    border-left: 5px;
    border-right: 5px;
    border-style: solid;
    border-color: rgba(255,255,255,0.8);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #f6f6f6;
    text-shadow: 1px 1px 1px #333;
    display: block;
    font-family: berkshire-swash, serif;
}
#wpmm .purchase-description {
    max-width: 500px;
    background-color: #f6f6f6;
    margin: 10px auto 0;
    padding: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: inset rgba(200,200,200,0.2) 0 0 25px;
}
#wpmm .purchase-description p {
    text-align: center;
    font-family: patua-one, sans-serif;
    font-size: 18px;
    color: #444;
}
#wpmm #purchase-icon {
    display: block;
    width: 100%;
    text-align: center;
    text-indent: 18px;
    height: 34px;
    background: url(../images/key.png) 10px 5px no-repeat;
}
#mm-footer {
    margin: 10px;
    font-family: 'Delius', cursive;
}
#wpmm #wpmm-form-delete {
    font-size: 0;
}
#wpmm #wpmm-auth-image {
    background-image: url(../images/credit_card.png);
    width: 100%;
    height: 158px;
    max-width: 418px;
    max-height: 158px;
    margin: 5px auto;
    background-size: contain;
    background-repeat: no-repeat;
}
#wpmm .wpmm-location-dropdown{
    width: 100%;
}